**/.ipynb_checkpoints
**/__pycache__
**/train
**/test
**/kitchenware-classification
**/Old_Models
**/Predictions
**/Models
**/CopyDuplicatedImages
**/Competition
**/TEST*
archive*
**/kitchen
**/kitchen2
**/images - Copy
keras-tuning.ipynb
KitchenwareKaggle2*
kitchenware-classification.zip
KitchenwareKaggle.ipynb
submission*
kitchenware-classification_OLD.zip