[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
keras = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10.9"
